node_modules
dist
.angular
pnpm-lock.yaml
extension/ui
packages/ng-devtools-assets/dist
docs/privacy-policy.html
app-nativescript/platforms
app-nativescript/hooks
app-nativescript/App_Resources
app-nativescript/package-lock.json
